@page "/"
<PageTitle>Index</PageTitle>

<div class="container text-center mt-5">
    <h1 class="display-4 mb-4">Hello, Hollywood!</h1>
    <p class="lead mb-4">How connected are the movie stars? Let’s find out!</p>

    <!-- Button to navigate to the shortest path page -->
    <a href="/ShortestPath" class="btn btn-primary btn-lg">Discover the intricate connections</a>
</div>